[workspace]
resolver = "2"
members = [
    "crates/hotshot-core",
    "crates/hotshot-cli",
    "crates/hotshot-ui/src-tauri",
]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"

[profile.release]
strip = true
lto = true
opt-level = "s"
